<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>

<body>



    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">HOME</a>
            {{#if loggedIn}}
            <a href="/" id="logout" class="navbar-item">LOGOUT</a>
            {{else}}
            <a href="/login" class="navbar-item">LOGIN</a>
            {{/if}}
        </div>
    </nav>

    <section class=" columns hero tech-hero">
        <div class="hero-body column is-one-third">
            <p class=" pb-2 pl-4 title tech-title">
                The Tech Blog
            </p>
        </div>
    </section>

    <!--Start Main Section -->
    <main>
        {{{body}}}
    </main>
    <!--End Main Section -->

</body>

<!--Link login.js file -->
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>