<section class=" columns hero tech-hero">
        <div class="hero-body column is-one-third">
            <p class=" pb-2 pl-4 title tech-title">
                The Tech Blog
            </p>
        </div>
    </section>
<div class="block blog-posts ml-6 mr-6">
  <div class="columns is-gapless">
    <div class="column">
      <h2 class="is-flex is-justify-content-start is-size-4 pl-3 post-title">Hello</h2>
    </div>
    <div class="column">
      <p class="is-flex is-justify-content-end is-size-4 pr-3 post-title">User</p>
    </div>
  </div>

  <div class="block">
    <p class="is-flex is-justify-content-center is-align-contents-center blog-entry">This is the text I will use</p>
  </div>
</div>