  <div>
        <form class="box sign-in ml-6 mr-6">
            <div class="columns">
                <div class="login-title column">
                <h1>Sign In</h1>
                </div>
                </div>
            <div class="field">
              <label class="label">USERNAME</label>
              <div class="control">
                <input class="input" id="user-login" placeholder="Type Username Here">
              </div>
            </div>
          
            <div class="field">
              <label class="label">PASSWORD</label>
              <div class="control">
                <input class="input" type="password" id="password-login" placeholder="Type Password Here">
              </div>
            </div>
          
            <button id="sign-in" class="sign-in-button">Sign in</button>
          </form>
      </div>

      <script src="/js/login.js"></script>