<div> 
        <form class="box sign-in ml-6 mr-6">
            <div class="columns">
            <div class="login-title column">
            <h1>Sign Up</h1>
            </div>
            </div>

            <div class="field">
              <label class="label">USERNAME</label>
              <div class="control">
                <input type="text" id="username-signup" class="input" placeholder="Type Username Here">
              </div>
            </div>
          
            <div class="field">
              <label class="label">PASSWORD</label>
              <div class="control">
                <input type="text" id="password-signup" class="input" type="password" placeholder="Type Password Here">
              </div>
            </div>
          
            <button type="submit" id="button-signup" class="button sign-in-button">Sign Up</button>
            
          </form>
      </div>

      <script src="/js/signup.js"></script>