:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }

  body {

        background-color: var(--secondary);
  }

.navbar {
    
    background-color: var(--dark);

  }

  
.tech-hero {
    
    background-color: var(--dark);

  }

  .tech-title {
    color: var(--dark);
    background-color: var(--secondary);
    box-shadow: 8px 8px var(--light-dark);
    border-radius:5px;
  }

  .navbar-brand a {
    color: var(--secondary);
  }
  .blog-posts {
    background-color: var(--secondary);
    border-style: solid;
  }

  .post-title {
    background-color: var(--dark);
    color: var(--secondary);
    
  }

  .blog-entry {
    color: var(--dark);
  }
  .sign-in {
    background-color: var(--secondary);
    border-style: solid;
  }

  .sign-in-button {
    background-color: var(--dark);
    color: var(--secondary);
  }

  .login-title {
    background-color: var(--dark);
    color: var(--secondary);
  }
 